<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/tabla.listas.css">
    <link rel="stylesheet" href="css/style.input.css">
    <title>SENA</title>
</head>
<body>
    <div class="content-header">
        <%- include('../partials/header-admin') %> 
    </div>
    <div class="main-contenedor">
        <div class="body-info-section">
            <div class="full-container">
                <div class="breadcrumb">
                    <a href="#" class="#">Reportes </a>  | <a href="/reporteUnidadesProductivas">Reporte Unidades Productivas</a> / <a href="/reportepuntoventa">Reporte Punto de Venta</a>
                </div>
                <!-- <div class="table-admin mt-1"> -->
                    <h1 class="h-title">Administrador</h1>
                    <hr class="separador-text"></hr>
                    <h3 class="h-title">Lista Unidades Productivas<span id="Openform" ></span></h3>
                    <div class="table-admin mt-1">
                        <table class="table-info">
                            <thead>
                                <th>Nombre</th>
                                <th>Cantidad de Ventas</th>
                                <th>Valor vendidos (Fecha)</th>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < up.length; i++ ) { %>
                                    <tr>
                                        <td ><%=up[i].Nombre  %> </td>
                                        <td >#</td>
                                        <td >#</td>
                                    </tr>
                                <% } %>
                            </tbody>
                      </table>                    
                    </div><br>
                    <h3 class="h-title">Lista Productos<span id="Openform" ></span></h3>
                    <div class="table-admin mt-1">
                        <table class="table-info">
                            <thead>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cantidad de Ventas</th>
                                <th>Total de Ventas</th>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < prod.length; i++ ) { %>
                                    <tr>
                                        <td ><%=prod[i].Codigo_pdto %></td>
                                        <td ><%=prod[i].Nombre %></td>
                                        <td >#</td>
                                        <td >#</td>
                                    </tr>
                                <% } %>
                            </tbody>
                      </table>                    
                    </div><br>
                    <h3 class="h-title">Venta mensual de Puntos de Venta<span id="Openform" ></span></h3>
                    <div class="table-admin mt-1">
                        <table class="table-info">
                            <thead>
                                <th>Punto de Venta </th>
                                <th>Mes</th>
                                <th>Año</th>
                                <th>Valor Vendido</th>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < pv.length; i++ ) { %>
                                    <tr>
                                        <td ><%=pv[i].Nombre %></td>
                                        <td >#</td>
                                        <td >#</td>
                                        <td >#</td>
                                    </tr>
                                <% } %>
                            </tbody>
                      </table>                    
                    </div><br>
                    <h3 class="h-title">Lista Punto de Venta <span id="Openform" ></span></h3>
                    <div class="table-admin mt-1">
                        <table class="table-info">
                            <thead>
                                <th>Nombre</th>
                                <th>Nombre del producto</th>
                                <th>cantidad Vendida</th>
                                <th>Valor vendidos</th>
                                <th>Mes</th>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < rep_venta_punto.length; i++ ) { %>
                                    <tr>
                                        <td ><%=rep_venta_punto[i].pnto_nombre  %> </td>
                                        <td ><%=rep_venta_punto[i].pdto_nombre  %></td>
                                        <td ><%=rep_venta_punto[i].cantidad  %></td>
                                        <td ><%=rep_venta_punto[i].valor  %></td>
                                        <td ><%=rep_venta_punto[i].Fecha  %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                      </table>                    
                    </div><br>
                <!-- </div> -->
            </div> 
        </div>
    </div>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts.ejs') %> 
</body>
</html>
