<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/tabla.listas.css">
    <link rel="stylesheet" href="css/style.input.css">
    <link rel="stylesheet" href="css/form.unidadesproductivas.css">
    <title>SENA</title>
</head>
<body>
    <div class="content-header">
        <%- include('../partials/header-admin') %> 
    </div>
    <div class="main-contenedor">
        <div class="body-info-section">
            <div class="full-container">
                <div class="breadcrumb">
                    <a href="#" class="go-home">Volver al inicio</a>  | <a href="unidadesproductivas">Unidades Productivas</a>
                </div>
                    <h1 class="h-title">Lista de Unidades Productivas <span id="Openform" class="icon-library_add"></span></h1>
                    <div class="table-admin mt-1">
                        <table class="table-info">
                            <thead>
                                <th>Id Unidad Productiva</th>
                                <th>Nombre Unidad Productiva</th>
                                <th>Logo</th>
                                <th>Descripcion</th>
                                <th>Sede</th>
                                <th>Estado</th>
                                <th>Entrega</th>
                                <th>Persona Encargada</th>
                                <th>Admin</th>
                            </thead>
                            
                            <tbody id="tbody_date">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content-form-subject">
                    <div class="content-main-form-subject">
                        <h1 class="h-title">Registrar Unidad Productiva</h1><div class="popup-close-window">x</div>
                        <form  class="content_form_unidades" id="form_registro_unidadesproductivas" enctype="multipart/form-data">
                            <div class="content_data nombreunidad">
                                <div class="input-data">
                                  <input type="text" id="nombreunidad" name="nombre" size="40" maxlength="50" required="">
                                    <div class="underline">
                                    </div>
                                  <label>Nombre Unidad</label>
                                </div>
                            </div>
                            <div class="img">
                                <div class=" namefileup content_file_img">
                                    <input class="form-control " type="file" name="fileN" id="fileN" >
                                </div>
                            </div>
                            <label class="label_entrega">Entrega</label>
                            <div class="content_data entregaunidad design-1">
                                <select id="entregaunidad" name="entrega" class="form-control">
                                    <option selected disabled >Seleccionar...</option>
                                    <option value="1">Si </option>
                                    <option value="0">No </option>
                                </select>
                            </div>
                            <div class="content_data descripcionunidad">
                                <div class="input-data">
                                  <input type="text" value="ninguno" id="descripcionunidad" name="descripcion" size="40" required="">
                                    <div class="underline">
                                    </div>
                                  <label>Descripcion</label>
                                </div>
                            </div>
                            <label class="label_sede">Sede</label>
                            <div class="content_data sedeunidad design-1">
                                <select id="sedeunidad" name="sede" class="form-control">
                                    <option selected disabled >Seleccionar...</option>
                                    <option value="Yamboro">Yamboro</option>
                                    <option value="Centro">Centro</option>
                                </select>
                            </div>
                            <label class="label_persEncar">Persona Encargada</label>
                            <div class="content_data personaunidad design-1">
                                <select id="personaunidad" name="encargado" class="form-control">
                                    <option selected disabled >Seleccionar...</option>
                                    <% for(var i=0; i<Personas.length;i++){%>
                                        <option value="<%=Personas[i].identificacion%>"><%=Personas[i].Nombres%> </option>
                                        <%  }
                                        %>
                                </select>
                            </div>
                            <label class="label_estado">Estado</label>
                            <div class="content_data estadounidad design-1">
                                <select id="estadounidad" name="estado" class="form-control">
                                    <option selected disabled >Seleccionar...</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                            <button type="button" class="boton_registro" onclick="RegistrarUnidad()">Registrar</button>

                        </form>
                    </div>
                </div>
                <!-- ====================================================================================================================================== -->
                <div class="content-form-subject-actul">
                    <div class="content-main-form-subject-actul">
                        <h1 class="h-title">Actualizar Unidad <input type="text"  id="id_up" size="5"  disabled></h1><div class="popup-close-window-act">x</div>
                        <form  class="content_form_unidades" enctype="multipart/form-data">
                            <div class="content_data nombreunidad">
                                <div class="input-data">
                                  <input type="text" id="nombreunidadactual" name="nombre" size="40" maxlength="50" required="">
                                    <div class="underline">
                                    </div>
                                  <label>Nombre Unidad</label>
                                </div>
                            </div>
                            <div class="img">
                                <div class="namefileup content_file_img">
                                    <input class="form-control " type="file" name="fileN" id="fileNact" >
                                </div>
                            </div>
                            <label class="label_entrega">Entrega</label>
                            <div class="content_data entregaunidad design-1">
                                <select id="entregaunidadactual" name="entrega" class="form-control">
                                    <option value="1">Si </option>
                                    <option value="0">No </option>
                                </select>
                            </div>
                            <div class="content_data descripcionunidad">
                                <div class="input-data">
                                  <input type="text" id="descripcionunidadactual" name="descripcion" size="40" required="">
                                    <div class="underline">
                                    </div>
                                  <label>Descripcion</label>
                                </div>
                            </div>
                            <label class="label_sede">Sede</label>
                            <div class="content_data sedeunidad design-1">
                                <select id="sedeunidadactual" name="sede" class="form-control">
                                    <option value="Yamboro">Yamboro</option>
                                    <option value="Centro">Centro</option>
                                </select>
                            </div>
                            <label class="label_persEncar">Persona Encargada</label>
                            <div class="content_data personaunidad design-1">
                                <select id="personaunidaencargadadactual" name="encargado" class="form-control">
                                    <% for(var i=0; i<Personas.length;i++){%>
                                        <option value="<%=Personas[i].identificacion%>"><%=Personas[i].Nombres%> </option>
                                        <%  }
                                        %>
                                </select>
                            </div>
                            <label class="label_estado">Estado</label>
                            <div class="content_data estadounidad design-1">
                                <select id="estadounidadactual" name="estado" class="form-control">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                            <button type="button" class="boton_registro" onclick="ActualizarUP();">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts.ejs') %> 
</body>
</html>
<script src="js/catch.unidadesproductivas.js"></script>
<script src="js/pop-up-forms.js"></script>